.container {
    background-color: var(--color-background);
    padding: 2rem;
    border-radius: 8px;
}


.heading-row {
    background-color: var(--color-accent);
    color: var(--color-white);
    font-weight: bold;
    text-align: center;
    padding: 1rem 0;
}

.heading-row div {
    border-right: 2px solid var(--color-border);
}

.heading-row div:last-child {
    border-right: none;
}


.list-group-item {
    background-color: var(--color-light-grey);
    border-color: var(--color-border);
    color: var(--color-dark-grey);
    padding: 1rem;
    margin-bottom: 0.5rem;
}

.list-group-item div {
    font-size: 1rem;
    text-align: center;
    border-right: 2px solid var(--color-border);
}

.list-group-item div:last-child {
    border-right: none;
}

/* Buttons */
.btn-cancel {
    background-color: var(--color-dark-grey);
    color: var(--color-white);
    border: 2px solid var(--color-border);
}

.btn-confirm {
    background-color: var(--color-accent);
    color: var(--color-white);
    border: 2px solid var(--color-border);
}

.btn-cancel:hover, .btn-confirm:hover {
    opacity: 0.8;
    transition: opacity 0.3s;
}

.w-100 {
    width: 100%;
    padding: 0.75rem;
    font-size: 1.1rem;
    border-radius: 6px;
}

.mt-3 {
    margin-top: 1.5rem;
}

.title {
    color: var(--color-accent); 
    margin-bottom: 0.5rem; 
    text-align: center; 
    font-size: 1.5rem; 
    font-weight: 700;
}

.form-select {
    box-shadow: none; 
    border: 1px solid var(--color-border); 
}

.form-select:focus {
    border-color: var(--color-accent); 
    box-shadow: 0 0 0.5rem rgba(52, 105, 84, 0.5); 
}


.order-details-container {
    background-color: var(--color-background);
    padding: 20px;
    border: 1px solid var(--color-border);
    border-radius: 8px;
    color: var(--color-text-primary);
  }
  
  .order-title {
    color: var(--color-text-secondary);
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .section-title {
    color: var(--color-accent);
    font-size: 20px;
    margin-top: 10px;
  }
  
  p {
    margin: 5px 0;
    color: var(--color-dark-grey);
  }
  
  strong {
    color: var(--color-text-primary);
  }
  
  .order-section, .payment-section, .shipping-section {
    padding: 10px;
    border-radius: 5px;
    background-color: var(--color-white);
    border: 1px solid var(--color-border);
    margin-bottom: 15px;
  }
  
  .order-section p, .payment-section p, .shipping-section p {
    color: var(--color-medium-grey);
  }
  
  .order-section strong, .payment-section strong, .shipping-section strong {
    color: var(--color-black);
  }
  
  .shipping-section {
    border: 1px solid var(--color-accent);
  }
  
  .payment-section {
    border: 1px solid var(--color-border);
  }